@charset utf-8;

/*CSS 초기화*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*모든 태그를 기본값으로 초기화합니다.*/

body {
    font-family: NanumGothic, 나눔고딕, 'Nanum Gothic', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
    /*폰트 속성 설정*/
    background: url(../images/s_images/body_bg.png);
    /*배경 이미지 설정*/
    line-height: 1;
    /*글자 행간*/
}

/*<body> 태그에 폰트 속성과 배경 속성 그리고 글자 행간 속성을 설정합니다.*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/*HTML5 태그들이 정상적으로 작동하도록 display 속성의 값을 block으로 설정합니다.*/

nav ul,
li {
    list-style: none;
}

/*<ul>태그와 <li> 태그의 목록 스타일을 초기화 합니다.*/

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    color: #fff;
    background: transparent;
}

/*<a> 태그를 기본값으로 초기화합니다. */

img {
    vertical-align: top;
}

/*<img> 태그의 간격을 없애기 위해 vertical-align 속성값을 top으로 설정합니다.*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*<table> 태그의 간격을 없애기 위해 간격값을 기본값으로 설정합니다.*/

input {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    /*이건 처음 보네???*/
    vertical-align: top;
    appearance: none;
    /*이건 또 뭐야???*/
    border: 1px solid #e65d5d;
    color: #e65d5d;
    border-radius: 0;
    font-family: NanumGothic, 나눔고딕, 'Nanum Gothic', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
}

input::-moz-input-placeholder {
    color: #e65d5d;
}

/*모질라 웹페이지에서 작동할 수 있는 접속사 -moz-*/

input::-webkit-input-placeholder {
    color: #e65d5d;
}

/*크롬이나 사파리 웹페이지에서 작동할 수 있는 접속사 =webkit-*/
/*<input> 태그를 기본값으로 초기화합니다. */


/*웹폰트 CSS*/
/*웹 폰트를 사용하기 위해 아래에 웹폰트 속성도 같이 추가해야합니다.*/
@font-face {
    font-family: 'Nanum Gothic';
    src: url(../webfont/NanumGothic.eot)
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url(../webfont/NanumGothic.woff)
}



/*
미디어쿼리를 작성할 때는 기기별로 구분 주석문을 작성해 주는 것이 좋습니다.
*/

/*
모바일용 320px
태블릿용 768px
PC용 960px 또는 1024px
*/

/*
모바일용 미디어쿼리는 별도로 작성하지 않습니다.
만약 웹사이트에 모바일용 미디어쿼리 조건문을 320px 이상이라고 작성하면 320px이하의 해상도인 기기로 웹사이트를 접속할 경우 
조건문 때문에 웹사이트의 구조가 전부 엉암이 되어버리기 때문입니다.
따라서 반응형 웹을 제작할 때는 모바일용 미디어쿼리는 별도로 작성하지 않은 상태로 모바일용에 적용될 구조 CSS코드와 모든 해상도에서 공통적으로 적용되 CSS 코드를 함께 작성합니다.
*/

/*모바일용 CSS*/
/*기본 CSS*/
#wrap {
    display: flex;
    /*
    태그가 어떻게 보일지를 설정하는 display 속성의 값을 flex로 설정하여 모든 환경에서 플랙서블 박스로 작동하게 합니다. 
    */
    flex-flow: column nowrap;
    /*
    박스의 배치 방향과 여러 줄 배치를 한 번에 설정하기 위해 fles-flow로 설정합니다.
    flex-flow: flex-direction flex-wrap
    column: 위에서 아래로 배치
    nowrap: 박스를 한줄로 배치
    === 박스가 세로로 한 줄씩 배치되게 합니다.
    */
    width: 80%;
    /*    
    테블릿환경과 모바일환경에서는 너빗값을 80%로 설정하려고 합니다.
    */
    margin: 0 auto;
    /*
    모든 환경에서 박스를 중앙 배치하기 위한 설정입니다.
    */
    max-width: 1200px;
    /*
    최대 너빗값 1200px
    */
}

#wrap section {
    box-sizing: border-box;
    /*
    박스 크기를 결정하는 방법을 변경하는 box-sizing 속성의 값을 board 값과 padding 값을 너빗값에 포함하는 값인 border-box로 변경합니다.
    */
}


/*태블릿용 CSS*/
/*기본 CSS*/
@media all and (min-width: 768px) {
    #wrap {
        flex-flow: row wrap;
        /*        
        row: 왼쪽에서 오른쪽으로 배치
        wrap: 박스를 여러줄로 배치
        === 가로로 배치하면서 여러 줄로 배치하는 값을 설정합니다.
        */
    }
}


/*PC용 CSS*/
/*기본 CSS*/
@media all and (min-width: 960px) {
    #wrap {
        position: relative;
        /*
        인포메이션 영역이 화면 상단의 오른쪽에 위치해 있습니다. 
        인포메이션 영역이 놓일 위치의 기준을 결정하기 위해 요소의 위치를 설정했습니다.
        */
        width: 90%;
        /*        
        pc용에서는 너빗값을 90%로 설정하겠습니다.
        */
    }
}
