
/*======================== RESET CSS ========================*/

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background: black;
}

/*======================== WRAP ========================*/

#wrap {
    width: 100%;
}


/*======================== HEADER ========================*/

.header {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.header_menubar {
    width: 55%;
    margin: 0 auto;
}
/* .header_menubar ul에 width 80%하는것 괜춘? */

.header_menubar ul {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menubar > ul > li {
    font-size: 0;
}

.header_menubar > ul > li img {
    opacity: 0.8;
    transition: 0.2s;
}

.header_menubar > ul > li:hover img {
    opacity: 1;
}

.header_menubar > ul > li:nth-child(12) {
    width: 44px;
    height: 44px;
    background: url("/image/body_image/header/globalnav_search_image__cbllq1gkias2_large.svg") center center no-repeat;
    background-position: 7.5px 0px;
}



/*======================== HEADER_IPHONE13 ========================*/

.header_iPhone13_menubar {
    width: 100%;
    padding: 1vh 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(255, 255, 255, 0.8);
}

.header_iPhone13_box {
    width: 55%;
    margin: 0 auto;

    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_iPhone13_box .left_box a {
    font-size: 3vh;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.header_iPhone13_box .right_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_iPhone13_box .right_box a {
    font-size: 1vh;
    font-weight: 600;
    color: rgb(0, 0, 0, 0.6);
}

.header_iPhone13_box > .right_box > li:nth-child(2) a {
    margin: 0 2vh;
    font-size: 1.1vh;
    font-weight: 600;
    color: rgb(0, 0, 0, 0.8);
}

.header_iPhone13_box > .right_box > li:nth-child(2):hover a {
    color: rgb(0, 106, 226);
}

.header_iPhone13_box > .right_box button {
    padding: 0.4vh 1.2vh;

    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;

    cursor: pointer;
    transition: 0.2s;
    background: rgb(60, 151, 255);
}

.header_iPhone13_box > .right_box button:hover {
    background: rgb(60, 151, 255, 0.8);
}


/* ========================================================== */
/* ========================================================== */
/* ========================================================== */


/*======================== SECTION_2 ========================*/

.section_2 {
    width: 100%;
    padding: 10vh 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background: rgb(18, 33, 58);
}

.section_2_camera,
.section_2_durability,
.section_2_chip,
.section_2_bettery {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.section_2_camera p,
.section_2_durability p,
.section_2_chip p,
.section_2_bettery p {
    color: white;
    font-size: 6vh;
    font-weight: 900;
    letter-spacing: -0.5vh;
    line-height: 8vh;
}
