/*client*/


#client_wrap {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    box-sizing: border-box;
}
.client_total_box {
    width: 100%;
}
.client_header_box {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client_header_text {
    width: 70%;

}
.client_header_text p {
    display: inline-block;
    font-size: 50px;
    font-family: 'Familiar Pro','sans-serif';

}
.client_content_total{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client_logo_list {
    width: 70%;
}
.client_logo_list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.client_logo_list li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.client_logo_list img {
    height: 60px;
    
}
.client_logo_list a {
    filter: grayscale(100%);
    transition: 0.5s;

}
.client_logo_list a:hover {
    filter: none;
}