/*모바일용 CSS*/


/*인포메이션 CSS*/
.info_section {
    order: 1;
    width: 100%;
    background: #2ecc71;
    border-bottom: 1px solid #39d67c;
}

.info_list {
    display: flex;
}

.info_list li {
    width: 25%;
    text-align: center;
}

.info_list li a {
    display: block;
    padding: 15px 0;
    padding: 0.928rem 0;
}


/*헤더 영역 CSS*/
.header {
    display: flex;
    order: 2;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.logo {
    order: 1;
    width: 100%;
    padding: 30px 0;
    padding: 1.875rem 0;
    font-size: 1.188em;
    font-size: 1.188rem;
    line-height: 21px;
    line-height: 1.313rem;
    text-align: center;
    text-transform: uppercase;
    background: #2ecc71;
    text-shadow: 0px 1px 1px #25ab5e;
}

.nav {
    order: 2;
    width: 100%;
}

.gnb {}

.gnb li {
    display: flex;
    background: #2c3e50;
}

.gnb li a {
    width: 80%;
    padding: 20px 0;
    padding: 1.250rem 0;
    font-size: 0.938em;
    font-size: 0.938rem;
    text-indent: 20px;
    text-indent: 1.250rem;
    font-weight: bold;
    text-transform: uppercase;
}

.gnb li span {
    width: 20%;
    text-indent: -9999px;
    background: url(../images/s_images/sub_menu_toggle_btn.png) center center no-repeat;
    cursor: pointer;
}

.menu_toggle_btn {
    display: block;
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 1.875rem;
    position: absolute;
    top: 10px;
    top: 0.625rem;
    right: 10px;
    right: 0.625rem;
    text-indent: -9999px;
    background: url(../images/s_images/menu_toggle_btn.png) no-repeat;
    cursor: pointer;
}



/*서브 헤더 영역 CSS*/
.sub_header_section {
    order: 3;
    padding: 48px 0;
    padding: 3.000rem 0;
    /*
    padding 위 아래 48px/3.000rem 값 지정
    */
    text-align: center;
    background: #219af7;
}

.sub_header_section h2 {
    margin-bottom: 12px;
    margin-bottom: 0.750rem;
    font-size: 1.313em;
    font-size: 1.313rem;
    color: #fff;
}

.breadcrum_list li {
    display: inline;
    font-size: 0.813em;
    font-size: 0.813rem;
    font-weight: bold;
}


/*콘텐츠 영역 CSS*/
.content_section {
    order: 4;
    padding: 20px;
    padding: 1.250rem;
    background: #fff;
}

.content_section > div {
    margin-top: 60px;
    margin-top: 3.750rem;
}

.content_section > div:first-child {
    margin-top: 0;
    /*    
    content_section에 padding값이 부여되어 있는 상태이므로 margin-top값은 초기화합니다.
    */
}

.content_row_1 {
    text-align: center;
}

.content_row_1 img {
    max-width: 100%;
}

.content_row_1 h3 {
    margin: 26px 0 14px 0;
    margin: 1.625rem 0 0.875rem 0;
    /*    
    margin: 위 우 아래 좌;
    */
    font-size: 1.626em;
    font-size: 1.626rem;
    color: #333;
}

.content_row_1 p {
    font-size: 0.938em;
    font-size: 0.938rem;
    line-height: 26px;
    line-height: 1.625rem;
    color: #444;
}

.content_row_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_row_2 > article {
    margin-top: 40px;
    margin-top: 2.500rem;
    text-align: center;
}

.content_row_2 > article:first-child {
    margin-top: 0;
    /*    
    article 요소에 margin-top 값이 부여되어있습니다.
    그래서 겹치지 않게하기 위해 article 첫번째 요소에 margin-top만 없애줍니다.
    */
}

.content_row_2 img {
    max-width: 100%;
}

.content_row_2 h4 {
    margin: 26px 0 14px 0;
    margin: 1.625rem 0 0.875rem 0;
    /*
    margin: 위 오른쪽 아래 왼쪽;
    */
    font-size: 1.188em;
    font-size: 1.188rem;
    color: #333;
}

.content_row_2 p {
    font-size: 0.813em;
    font-size: 0.813rem;
    line-height: 21px;
    line-height: 1.313rem;
    color: #444;
}

.content_row_3 {
    display: flex;
    flex-direction: column;
}

.content_row_3 h4 {
    margin-bottom: 20px;
    margin-bottom: 1.250rem;
    padding-bottom: 8px;
    padding-bottom: 0.500rem;
    font-size: 1.188em;
    font-size: 1.188rem;
    border-bottom: 3px solid #2ecc71;
    color: #333;
}

.para p:first-child {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

.para p {
    font-size: 0.813em;
    font-size: 0.813rem;
    line-height: 21px;
    line-height: 1.313rem;
    color: #444;
}




/*gallery.html 파일 전용*/

.gallery_list img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    transition: all 0 4s;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    /*    
    filter 속성 적용하여 흑백사진으로 변경합니다.
    */
}

.gallery_list img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    /*    
    마우스 올렸을때 filter 효과 없애기
    */
}

.gallery_list li {
    margin-top: 20px;
    margin-top: 1.250rem;
}

.gallery_list li:first-child {
    margin-top: 0;
}

.gallery_content_row_2 {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 40px 0;
    margin: 1.875rem 0 2.500rem 0;
}

.search_window {
    width: 118px;
    width: 7.375rem;
    height: 28px;
    height: 1.750rem;
    font-size: 0.688em;
    font-size: 0.688rem;
    line-height: 28px;
    line-height: 1.750rem;
    text-indent: 10px;
    text-indent: 0.625rem;
    border-radius: 3px;
}

.search_select_box {
    display: none;
}

.write_box a {
    display: block;
/*    
    inline요소인 a태그를 block 속성으로 변경해서 값들을 부여합니다.
    */
    width: 70px;
    width: 4.375rem;
    height: 30px;
    height: 1.875rem;
    font-size: 0.813em;
    font-size: 0.813rem;
    line-height: 30px;
    line-height: 1.875rem;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    background: #e65d5d;
}

.content_row_3 {
    display: flex;
    justify-content: center;
}

.content_row_3 span {
    width: 28px;
    width: 1.750rem;
    height: 28px;
    height: 1.750rem;
    text-indent: -9999px;
}

.content_row_3 span.list_prev_btn {
    margin-right: 10px;
    margin-right: 0.625rem;
    background: #2ecc71 url(../images/s_images/list_prev_btn.png) center center no-repeat;
}

.content_row_3 span.list_next_btn {
    margin-left: 10px;
    margin-left: 0.625rem;
    background: #2ecc71 url(../images/s_images/list_next_btn.png) center center no-repeat;
}

.content_row_3 a {
    width: 26px;
    width: 1.625rem;
    font-size: 0.813em;
    font-size: 0.813rem;
    line-height: 26px;
    line-height: 1.625rem;
    text-align: center;
    border: 1px solid #219af7;
    color: #219af7;
    transition: all 0.2s;
}

.content_row_3 a:nth-of-type(2) {
    margin: 0 6px;
    margin: 0 0.375rem;
}

.content_row_3 a:hover {
    color: #fff;
    background: #219af7;
}



/*board.html 콘텐츠 영역 CSS*/

.board_table {
    width: 100%;
}

.board_table caption {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
    /*    
    이거 설명좀해주쇼.
    */
}

.board_table thead,
.board_table tbody {
    font-size: 0.813em;
    font-size: 0.813rem;
    text-align: center;
    font-weight: bold;
}

.board_table thead {
    color: #fff;
    background: #2c4e50;
}

.board_table tbody,
.board_table tbody a {
    color: #333;
}

.board_table tbody tr:nth-child(odd) {
    background: #f6f6f6;
    /*
    게시판 tbody 배경색상을 교차로 설정합니다.
    */
}


.board_table thead tr th {
    padding: 18px 0;
    padding: 1.125rem 0;
}

.board_table tbody tr td {
    padding: 22px 0;
    padding: 1.375rem 0;
}

.board_table thead tr th:first-child,
.board_table thead tr th:nth-child(3),
.board_table thead tr th:nth-child(4),
.board_table tbody tr td:first-child,
.board_table tbody tr td:nth-child(3),
.board_table tbody tr td:nth-child(4) {
    display: none;
}

/*푸터 영역 CSS*/
.footer {
    order: 5;
    width: 100%;
    background: #474747;
}

.footer p {
    padding: 20px;
    padding: 1.250rem;
    font-size: 0.813em;
    font-size: 0.813rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 1px 1px #191919;
}
